* {
    font-family: "Times New Roman"; 
    font-size: 1.2rem
}
td a {
    text-decoration: none;
}
span {
    font-size: 1.3rem;
}
b {
    font-size: 1.3rem;
}
#lotopool > div {
    background-color: rgb(253, 253, 225);
    border: 1px solid rgb(61, 61, 61);
    margin: 3px;
}
#loto > div {
    background-color: rgb(235, 255, 252);
    border: 1px solid rgb(61, 61, 61);
    margin: 3px;
}

footer {
    background: #555;
}

main {
    min-height: calc(100vh - 10rem);
}

footer {
    height: 7rem;
    margin-top: 1rem;
}

footer h5 {
    font-size: 1rem;
}
